
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- SE TRAEN LOS RECURSOS A UTILIZAR-->
    <!--ANGULAR-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- ESTILOS PARA QUE LA PAGINA SE VEA BIEN-->
    <!--BOOTSTRAP-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <title>Base</title>
  </head>
  <body>
    <!-- SE DEFINE EL MODULO A UTILIZAR Y EL CONTROLADOR-->
    <div ng-app="myApp" ng-controller="controlCtrl">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <h4 style="float:center;">Mis Productos:</h4>
          <button type="button" class="btn btn-success" ng-click="btnAgregarNuevo()" ng-show="show_btn_agregar">Agregar nuevo</button>
          <form ng-show="show_form_agregar">
            <div class="input-group col-xs-3">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input  type="text" class="form-control" ng-model="nuevo.nombre" placeholder="nombre"><br>
              <span ng-show="show_alert_nombre">Campo requerido</span>
            </div>
            <br>
            <div class="input-group col-xs-3">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input  type="text" class="form-control" ng-model="nuevo.precio" placeholder="precio">
              <span ng-show="show_alert_precio">Campo requerido(precio)</span>
            </div>
            <br>
            <button type="button" class="btn btn-success" ng-click="btnAgregar(nuevo)">Enviar</button>
            <button type="button" class="btn btn-danger" ng-click="btnAgregarCancelar()">Cancelar</button>
          </form>
          <!--SE TRAEN LOS DATOS INICIALES-->
          <div ng-init = "getData()">
          </div>
          <!-- SE LLENA LA TABLA CON LOS DATOS TRAIDOS DEL SERVIDOR-->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </thead>
              <tbody>
                <tr ng-repeat="data in getData">
                  <td>{{data.cat_prec_id}}</td>
                  <td>{{data.nombre}}</td>
                  <td>{{data.precio}}</td>
                  <td><input type="button" name="" value="Editar" class="btn btn-primary"></td>
                  <td><input type="button" name="" value="Eliminar" class="btn btn-danger"></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="col-sm-1"></div>
      </div>
      <!-- Abrir mensaje de cofirmacion-->
      <!-- Trigger the modal with a button -->
      <div ng-show="show_msg_ok_agregar">
        <div class="alert alert-success">
          <strong>Exito!</strong> Se agrego el registro
        </div>
      </div>

    </div>
    <!--AQUI SE LLAMA AL ARCHIVO QUE TRAE LAS FUNCIONES DEL LADO DEL CLIENTE-->
    <script src="cliente/controlador/inicio.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
